<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" align=center>
<tr>
	<td colspan="2" align=center><h2>书本基本信息表</h2></td>
</tr>
<tr>
	<td align=center width="200">书名</td>
	<td  align=center><input type="text" name=""></td>
</tr>
<tr>
	<td align=center width="200">作者</td>
	<td align=center><input type="text" name=""></td>
</tr>
<tr>
	<td align=center width="200">出版日期</td>
	<td align=center><input type="text" name=""></td>
</tr>
<tr>
	<td align=center width="200">出版社</td>
	<td align=center><select name="">
		<option value="1" selected="selcted">华中师范大学出版社</option>
		<option value="2">北京大学出版社</option>
	</select></td>
</tr>
<tr>
	<td align=center width="200">ISBN</td>
	<td align=center><input type="text" name=""></td>
</tr>
<tr>
	<td colspan="2" align=center><input type="submit" value="提交">&nbsp&nbsp&nbsp<input type="reset"></td>
</tr>
</table>
</body>
</html>