<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" align="center">
<tr>
	<td colspan="2" align=center><h1>书本详情表</h1></td>
</tr>
{%for r in datalist%}
<tr>
	<td align=center width="200">书名</td>
	<td align=center>{{r[4]}}</td>
<tr>
	<td align=center width="200">出版社</td>
	<td align=center>{{r[3]}}</td>
</tr>
<tr>
	<td align=center width="200">作者</td>
	<td align=center>{{r[2]}}</td>
</tr>
<tr>
	<td align=center width="200">ISBN</td>
	<td align=center>{{r[0]}}</td>
</tr>
<tr>
	<td align=center width="200">作者简介</td>
	<td align=center></td>
</tr>
<tr>
	<td align=center width="200">馆藏副本数量</td>
	<td align=center width="200">{{r[6]}}</td>
</tr>
<tr>
	<td align=center width="200">馆藏副本可借数量</td>
	<td align=center width="200">{{r[7]}}</td>
</tr>
{%endfor%}
</table><br>
<table border="1" align="center">
<tr>
	<td colspan="3" align=center><h1>书本馆藏记录表</h1></td>
</tr>
<tr>
	<td align=center width="200">副本编号</td>
	<td align=center width="200">是否可借</td>
	<td align=center width="200">存放位置</td>
</tr>
	{%for re in re9%}
<tr>
	<td align=center width="200">{{re[4]}}</td>
	<td align=center width="200">
		{% if re[1]==1%}
		<font color="#66ff00">可借</font>
	{%else%}
		<font color="#ff0000">不可借</font>
	{%endif%}
	</td>
	<td align=center width="200">{{re[0]}}</td>
</tr>
	{%endfor%}
</table><br>
<table border="1" align="center">

<tr>
	<td colspan="3" align=center><h1>书本借阅记录表</h1></td>
</tr>
<tr>
	<td align=center width="200">读者</td>
	<td align=center width="200">借阅时间</td>
	<td align=center width="200">借阅副本编号</td>
</tr>
	{%for rs in re5%}
<tr>
	<td align=center width="200">{{rs[9]}}</td>
	<td align=center width="200">{{rs[1]}}</td>
	<td align=center width="200">{{rs[0]}}</td>
</tr>
	{%endfor%}
<tr>
	<td colspan="3" align=center>总计：{{re4[0]}}</td>
</tr>
</table><br>
<table border="1" align=center>
<tr>
	<td colspan="3" align=center><h1>书本评分记录表</h1></td>
</tr>
<tr>
	<td align=center width="200">读者</td>
	<td align=center>评分</td>
	<td align=center>评论</td>
</tr>
{%for rr in re7%}
<tr>
	<td align=center width="200">{{rr[11]}}</td>
	<td align=center width="200">{{rr[6]}}</td>
	<td align=center width="200">{{rr[2]}}</td>
</tr>
	{%endfor%}
<tr>
	<td align=center>总计：{{re8[0][0]}}</td>
	<td align=center>平均：{{re6[0]}}</td>
	<td align=center></td>
</tr>
</table>
</body>
</html>